@model PizzaShopRepository.ViewModels.CustomerDetailsViewModel

<div class="container">
    <div class="fw-bolder fs-5 page-text">Selected Tables</div>
    <ul>
        @foreach (var table in Model.SelectedTables)
        {
            <li>@table.TableName (Capacity: @table.Capacity)</li>
        }
    </ul>

    <div class="fw-bolder fs-5 page-text">Waiting List</div>
    @if (Model.WaitingTokens.Any())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-nowrap">ID</th>
                    <th scope="col" class="text-nowrap">Name</th>
                    <th scope="col" class="text-nowrap">No. of Persons</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var token in Model.WaitingTokens)
                {
                    <tr>
                        <td>
                            <input type="radio" name="radioDefault" value="@token.Id" class="select-token form-check-input"
                                data-name="@token.CustomerName" data-email="@token.Email" data-phone="@token.PhoneNumber"
                                data-persons="@token.NumOfPersons" />
                        </td>
                        <td>#@token.Id</td>
                        <td class="text-nowrap">@token.CustomerName</td>
                        <td class="text-center">@token.NumOfPersons</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No waiting tokens available for the selected sections.</p>
    }

    <div class="fw-bolder fs-5 page-text">Customer Details</div>
    <form id="assignTableForm" asp-action="AssignTable" asp-controller="OrderApp" method="post">
        @foreach (var table in Model.SelectedTables)
        {
            <input type="hidden" name="selectedTableIds" value="@table.TableId" />
        }
        <input type="hidden" name="SectionId" value="@Model.SectionId" />
        <input type="hidden" name="WaitingTokenId" id="waitingTokenId" value="" />

        <div class="form-floating mb-3">

            <input type="email" class="form-control" id="email" asp-for="Email" value="" />
            <label asp-for="Email">Email*</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">

            <input type="text" class="form-control" id="name" asp-for="CustomerName" value="" name="name" required />
            <label asp-for="CustomerName">Name*</label>
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">

            <input type="text" class="form-control" id="mobileNumber" asp-for="PhoneNumber" value="" required />
            <label asp-for="PhoneNumber">Mobile Number*</label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">

            <input type="number" class="form-control" id="numOfPersons" asp-for="NumOfPersons" value="0" required />
            <label asp-for="NumOfPersons">No of Person(s)*</label>
            <span asp-validation-for="NumOfPersons" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">

            <input type="text" class="form-control" id="section" name="SectionName" value="@Model.SectionName"
                readonly />
            <label for="section">Section*</label>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-main text-white">Assign</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        </div>
    </form>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $('.select-token').on('change', function () {
            const name = $(this).data('name');
            const email = $(this).data('email');
            const phone = $(this).data('phone');
            const persons = $(this).data('persons');
            const tokenId = $(this).val();

            $('#name').val(name);
            $('#email').val(email);
            $('#mobileNumber').val(phone);
            $('#numOfPersons').val(persons);
            $('#waitingTokenId').val(tokenId);
        });

        $('#assignTableForm').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('#customerDetailsOffcanvas').offcanvas('hide');
                        location.reload();
                    } else {
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    toastr.error('An error occurred while assigning the table.');
                }
            });
        });
    });
</script>