@model IEnumerable<PizzaShopRepository.Models.Role>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="Roles-content mt-0 p-xl-5 p-lg-4 p-md-4 p-sm-4 p-4">
  <div class="d-flex align-items-center justify-content-start my-2">
    <div class="fw-bolder fs-2 page-text me-2">Roles</div>
  </div>
  <div class="row table-responsive content-div rounded-2 shadow p-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Role</th>
          <th class="d-flex justify-content-end">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var role in Model)
        {
          <tr>
            <td class="py-3" scope="row">

              @if (@role.Name == "super_admin")
              {
                <span>Super Admin</span>
              }
              else if (@role.Name == "account_manager")
              {
                <span>Account Manager</span>
              }
              else if (@role.Name == "chef")
              {
                <span>Chef</span>
              }
            </td>
            <td class="d-flex justify-content-end py-3">
              <a asp-controller="Home" asp-action="Permissions" asp-route-roleId="@role.Id"
                class="text-decoration-none text-black">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-pen text-body-btn" viewBox="0 0 16 16">
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                </svg>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    toastr.options = {

      "positionClass": "toast-top-right",
      "progressBar": true,
      "timeOut": "5000"
    };

    @if (TempData["SuccessMessage"] != null)
      {
        <text>toastr.success('@TempData["SuccessMessage"]');</text>
    }
      @if (TempData["ErrorMessage"] != null)
      {
        <text>toastr.error('@TempData["ErrorMessage"]');</text>
    }
  });
</script>